<div class="controls flex flex__align-center">
    <div class="controls__play flex flex__align-center">
        <div class="controls__play-icon mr-15">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"/></svg>
        </div>
        <div class="controls__play-text">Play Video</div>
    </div>
    <div class="flex controls__navigator ">
        <div class="controls__navigator-icon  flex flex__align-center flex__justify-center mr-15">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"/></svg>
        </div>
        <div class="controls__navigator-icon flex flex__align-center flex__justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z"/></svg>
        </div>
    </div>
    <div class="controls__indexs flex flex__align-center flex__justify-center">
        <div class="controls__indexs-number mr-15">01</div>
        <div class="controls__indexs-item"></div>
        <div class="controls__indexs-item active"></div>
        <div class="controls__indexs-item"></div>
        <div class="controls__indexs-number">03</div>
    </div>
    <div class="controls__cart flex flex__align-center">
        <button class="controls__cart-btn">add to cart</button>
        <div class="controls__cart-fav relative">
            <input type="checkbox" name="" id="fav">
            <label for="fav"></label>
        </div>
    </div>
</div>