<div class="features">
    <div class="features__title">size</div>
    <div class="flex features__size">
        <div class="features__size-item relative" *ngFor="let item of allSize; index as i;">
            <input type="radio" class="features__size-input" name="size" id="{{item}}" [checked]="i === 0" [disabled]="!size.includes(item)">
            <label class="features__size-label flex flex__align-center flex__justify-center" for="{{item}}">{{item}} </label>
        </div>
    </div>
    <div class="flex features__reviews">
        <div class="features__sub-title">reviews</div>
        <div class="flex features__stars ml-max">
            <ng-container *ngIf="rateValues.length > 0">
                <div class="features__star  relative" *ngFor="let star of rateValues" [class.strok]="star"></div>
            </ng-container>
        </div>
    </div>
    <div class="flex features__price">
        <div class="features__sub-title">price</div>
        <div class="features__price-text ml-max">${{featrues.price}}</div>
    </div>
    <div class="features__colors">
        <div class="features__title">colour</div>
        <div class="flex">
            <div class="features__colors-item relative" *ngFor="let color of featrues.colors;index as i">
                <input type="radio" name="color" id="{{color.name}}" [checked]="i===0" (change)="changeColor(color.name)">
                <label for="{{color.name}}" [style.background]="color.hex"></label>
            </div>
       
        </div>

    </div>
</div>